<h1>Welcome to the Angular2 Playground by Trevor Knott</h1>

<hr>

<h3>Form Work</h3>

<md-tab-group>

  <md-tab label="DataBinding">
    <md-card>
      <app-two-way-databinding></app-two-way-databinding>
    </md-card>
  </md-tab>

  <md-tab label="Basic Form">
    <md-card>
      <app-angular-forms></app-angular-forms>
    </md-card>
  </md-tab>
  <md-tab label="Radio Btn's">
    <md-card>
      <app-radio-buttons></app-radio-buttons>
    </md-card>
  </md-tab>
  <md-tab label="Dropdown List">
    <md-card>
      <app-dropdown-list></app-dropdown-list>
    </md-card>
  </md-tab>
</md-tab-group>

<hr>

<h3>Angular2 Misc.</h3>

<md-tab-group>
  <md-tab label="Dep Injection">
    <md-card>
      <app-dep-inj></app-dep-inj>
    </md-card>
  </md-tab>

  <md-tab label="FizzBuzz">
    <md-card>
      <app-fizzbuzz></app-fizzbuzz>
    </md-card>
  </md-tab>
  <md-tab label="RXJS Clock">
    <md-card>
      <app-rxjs-clock></app-rxjs-clock>
    </md-card>
  </md-tab>
</md-tab-group>


